page-farming {
    .iconXl{
        zoom: 1.5;
    }
    .item{
        min-height: 7rem;
    }
    ion-select{
        max-width: 100%;
    }
    .select{
        padding:0px 8px 0px 0px;
    }
    .listHeader{
        min-height: 3rem;
    }
    .item ion-thumbnail ion-img,
    .item ion-thumbnail img {
        width: auto !important;
        padding:7px 0px 7px 0px;
    }
    .buttonXs{
        width:10px;
        height:1.5rem;
        font-size:1rem;
    }
    .black{
        color:rgb(46, 46, 46);
    }

    .center{
        text-align: center;
    }

    .rborder{
        border-right: solid 1px #dcdbdb;
    }
    label{
        margin-right:3px;
    }
}
